#login{
    /* border: 1px solid black; */
    margin: auto;
    width: 300px;
    height: 300px;
    
}
#loginInput{
    margin: auto;
    width: 300px;
}
#margin{
    /* border: 1px solid red; */
    margin-top: 12%;
}
#tableHC{
    border-right: 3px solid white;
    background-color: aquamarine;
    text-shadow: black;
}
#tableHCL{
    background-color: aquamarine;
    text-shadow: black;
}